input:focus {outline:none;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#input_value{
    border:none;
    border-left: 1px gray solid;
    width: 100%;
    height: 100%;
}
#input_value2{
    resize: none;
    width: 100%;
    outline: none;
    flex: 1;
    border: none;
    height: 100%;
}

.input_buttonbox{ 
    display: flex;
    justify-content:space-around;
}
.detail_titlebox{
    width: 100%;
    height: 20%;
    flex: 1;
}
.box_text{
    width: 100%;
   
;
}
.golist{ 
    cursor:pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    float: right;
    width: 90px;
    height: 60px;
    background-color:#0095FF;
    color: white;
    text-align: center;
}
.input_notice{
    cursor:pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    float: right;
    width: 90px;
    height: 60px;
    background-color:#0095FF;
    color: white;
    text-align: center;
}